################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend-api/Hello/Properties/PublishProfiles/azure-web-demo - Web Deploy.pubxml
demo-app/src/app/environments/environment.ts
